<div class="wrapper-block">
    <div class="container">
        {{nav-buttons}}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nickname</th>
                <th>Team</th>
                <th>Contributors</th>
            </tr>
            </thead>
            <tbody>
            {{#each model as |cont|}}
                <tr>
                    <td>{{cont.nickname}}</td>
                    <td>{{cont.team}}</td>
                    <td>{{cont.contributions}}</td>
                    <td>

                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{outlet}}
